# AppStore Expand plugin environment

APPSTORE_IMAGE=ghcr.io/cnmbdb/dujioka-next-tgbot/appstore-expand
APPSTORE_TAG=latest

APPSTORE_TITLE=Dujiaoka AppStore Expand
APPSTORE_BUTTON_TEXT=扩展应用商店
APPSTORE_STATUS_TEXT=应用商店扩展开启
APPSTORE_FRONTEND_URL=https://ets.txsw.top
APPSTORE_FRONTEND_LOGIN_PATH=/login
