CLOUDFLARE_TUNNEL_ENABLED=true
CFTUN_TUNNEL_ID=
TUNNEL_ID=
TUNNEL_TOKEN=

# ---------- Tunnel 公网域名 ----------
PUBLIC_USER_HOST=
PUBLIC_ADMIN_HOST=
PUBLIC_API_HOST=
PUBLIC_USER_URL=
PUBLIC_ADMIN_URL=
PUBLIC_API_URL=
